<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Edukasi tentang pentingnya sanitasi" />
    <link rel="icon" href="./favicon.png" />

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <title>Peduli Sanitasi</title>

    <!-- Additional CSS Files -->

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
  </head>
  <body>
    <nav-bar></nav-bar>
    <main-banner></main-banner>
    <tentang-sanitasi></tentang-sanitasi>
    <sanitasi-sampah></sanitasi-sampah>
    <fun-fact></fun-fact>
    <custom-footer></custom-footer>
  </body>
</html>
