<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Edukasi tentang pentingnya sanitasi" />
    <link rel="icon" href="/images/Logo Favicon.png" />
    <meta name="theme-color" content="#0e982e" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <title>Peduli Sanitasi</title>

  </head>
  <body>
    <nav-bar></nav-bar>
    <main></main>
    <custom-footer></custom-footer>
  </body>
</html>
