/* CSS untuk tampilan forum */
.container {
  max-width: 500px;
  margin: 0 auto;
}

h1,
h2,
p,
input,
textarea,
button {
  margin: 10px 0;
}

.container h2 {
  margin-top: 40px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #198754;
  border-radius: 6px;
  resize: vertical;
  margin-top: 20px;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(25, 135, 84, 0.8);
}

button {
  padding: 5px 10px;
}

.post {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.space {
  margin-bottom: 150px;
}

.space::before {
  content: url(../public/images/banner-left.png);
  top: -1px;
  left: 0;
  position: absolute;
  width: 194px;
  height: 655px;
  z-index: -1;
}

.myspace {
  margin-bottom: 50px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.formbox {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.comment-form {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

// edit button edit dan delete
.post-button {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4CAF50;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-button.edit {
  background-color: #2196F3;
}

.post-button.delete {
  background-color: #F44336;
}

.post-button:hover {
  background-color: #555;
}

// atur posisi edit dan delete
.post {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.author {
  margin-bottom: 5px;
}

.edit-delete-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}

.edit-delete-container button {
  margin-left: 5px;
}

//kolom komentar

.comment-container {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

//nama user komentar
.comment-container .username {
  color: rgb(16, 124, 52);
  font-weight: bold;
}

