.receptacle {
    font-family: "Open Sans", sans-serif;
    max-width: 1100px;
    width: 100%;
    padding: 40px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.receptacle h1{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
}

.slide-receptacle {
    margin: 30px 20px 50px 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.place {
    border-radius: 8px;
}

.place .image-box {
    height: 150px;
}

.place .image-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 8px 8px;
}

.place .title-author {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.title-author .title {
    font-size: 12px;
    font-weight: 500;
}

.title-author .title a {
    text-decoration: none;
    color: #000;
}

.title-author .title a:hover{
    color: #dc3545;
    font-weight: bold;
}

.title-author .author {
    padding-top: 5px;
    font-size: 9px;
    font-weight: 500;
    color: #4d4d4d;
}

.other-article .swiper-navBtn-next {
    position: absolute;
    right: -8px;
    left: auto;
    top: 54%;
    color: #198754;
    font-weight: bold;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.other-article .swiper-navBtn-prev {
    position: absolute;
    left: -8px;
    right: auto;
    top: 54%;
    color: #11c03a;
    font-weight: bold;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.other-article .swiper-navBtn-next:hover, .other-article .swiper-navBtn-prev:hover {
    color: #dc3545;
}

.swiper-pagination-bullet {
    background-color: #198754 !important;
    width: 8px !important;
    height: 8px !important;
}

@media (min-width: 320px){
    .receptacle h1{
        font-size: 24px;
        padding-top: 30px;
    }

    .slide-receptacle {
        margin: 40px 50px 50px 50px;
        padding-bottom: 30px;
    }
    
    .title-author .title {
        font-size: 13px;
    }
    .title-author .author {
        font-size: 10px;
    }

}

@media (min-width: 600px){
    .receptacle h1{
        font-size: 28px;
        padding-top: 40px;
    }
    .slide-receptacle {
        margin: 50px;
        padding-bottom: 40px;
    }
    
    .title-author .title {
        font-size: 14px;
    }
    .title-author .author {
        font-size: 11px;
    }
    .swiper-pagination-bullet {
        width: 10px !important;
        height: 10px !important;
    }

}

@media screen and (max-width: 767px) {
    .other-article .swiper-navBtn-next, .other-article .swiper-navBtn-prev {
        display: none;
    }
}

@media (min-width: 768px){
    .receptacle h1{
        font-size: 30px;
        padding-top: 50px;
    }
    .slide-receptacle {
        padding-bottom: 50px;
    }
    .swiper-pagination-bullet {
        width: 13px !important;
        height: 13px !important;
    }
}

@media (min-width: 992px){
    .receptacle h1{
        font-size: 32px;
    }
    .title-author .title {
        font-size: 15px;
    }
    .title-author .author {
        font-size: 12px;
    }
    .swiper-pagination-bullet {
        width: 15px !important;
        height: 15px !important;
    }
}
